.navbar-brand {
  border: 1.5px;
  border-style: solid;
  border-color: rgb(117, 114, 114);
  padding: 0.5em;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.profilepic {
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}

a {
  background-color: transparent;
}

.nav-link {
  color: white;
}

a:link {
  text-decoration: none;
}

.social {
  display: flex;
}
.social i {
  font-size: 25px;
  color: #87888a;
}
.social i:hover {
  color: rgb(121, 0, 36);
}

.container {
  margin-top: 50px;
}

.resume {
  position: relative;
  margin-bottom: 20px;
  /* display: flex; */
  /* left: 0; */
  /* justify-content: space-around; */
  /* bottom: 0px; */
}
.resume i {
  font-size: 25px;
  color: #9a9b9c;
  /* margin-top: 10px; */
  /* position: absolute; */
  /* left: 0px; */
}
.resume i:hover {
  color: rgb(121, 0, 36);
}

.social-pos {
  margin-bottom: 60px;
}

.image-pos {
  margin-top: 60px;
}

.type-pos {
  margin-top: 120px;
}

body {
  background-color: rgb(240, 243, 233);
}

.navtext {
  color: rgb(212, 209, 209);
  font-weight: bold;
}
